Repository pocockn/mono-repo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-database-migrator, build-recs, build-spotify, deploy-recs

.gitlab-ci.yml:

image: golang:1.14.2-stretch

stages:
  - build
  - test
  - deploy

build-database-migrator:
  stage: build
  script:
    - go build -o database-migrator ./core/database-migrator/main.go
  only:
    changes:
      - core/database-migrator/**/*

build-recs:
  stage: build
  script:
    - go build -o recs-api ./services/recs-api/main.go
  only:
    changes:
      - services/recs-api/**/*

build-spotify:
  stage: build
  script:
    - go build -o spotify-poller ./services/spotify-poller/cmd/spotify-poller/main.go
  only:
    changes:
      - services/spotify-poller/**/*

test:
  stage: test
  script:
    - make test

deploy-recs:
  image: docker:stable
  stage: deploy
  services:
    - docker:19.03.0-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  only:
    refs:
      - master
    changes:
      - services/recs-api/**/*
  script:
    - export VERSION=$(cat ./services/recs-api/VERSION)
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - cd services/recs-api
    - docker build -t pococknick91/recs-api:$VERSION -f ./services/recs-api/Dockerfile .
    - docker tag pococknick91/recs-api:$VERSION pococknick91/recs-api:latest
    - echo "=> Pushing pococknick91/recs-api:$VERSION to docker"
    - docker push pococknick91/recs-api
  tags:
    - docker

deploy-spotify-poller:
  image: docker:stable
  stage: deploy
  services:
    - docker:19.03.0-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: "/certs"
  only:
    refs:
      - master
  script:
    - export VERSION=$(cat ./services/spotify-poller/VERSION)
    - docker login -u $DOCKER_USER -p $DOCKER_PASS
    - cd services/spotify-poller
    - docker build -t pococknick91/spotify-poller:$VERSION -f ./services/spotify-poller/builds/Dockerfile .
    - docker tag pococknick91/spotify-poller:$VERSION pococknick91/spotify-poller:latest
    - echo "=> Pushing pococknick91/spotify-poller:$VERSION to docker"
    - docker push pococknick91/spotify-poller
  tags:
    - docker

Remove API tokens
  services/strava-api/service/strava.js
Due: none

Add PR template to standardise pull request layout
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix: Use correct base revision branch when comparing agaisnt PR for changes
  .circleci/config.yml
Due: none

Bump recs-api to 0.7.0
  services/recs-api/VERSION
Due: build-recs, deploy-recs

Use the new logging package within the spotify poller repo
  services/spotify-poller/VERSION
  services/spotify-poller/cmd/spotify-poller/main.go
  services/spotify-poller/internals/database/db.go
  services/spotify-poller/internals/handler/handler.go
  services/spotify-poller/internals/spotify/client.go
Due: build-spotify

Task: Add tests for zerolog
  go.mod
  go.sum
  pkg/logs/zerolog.go
  pkg/logs/zerolog_test.go
Due: none

Clean up: Improve comment for zero log
  pkg/logs/zerolog.go
Due: none
